{% extends 'communities/community_base.html' %}

{% block title_block %}
  <title>{{ community.name }}</title>
{% endblock %}

{% block precomunity %}

  <h1>{{ community.name }}</h1>
  <h2>Member count: {{ community.members.count }}</h2>

  <div class="content">
    {% if user in community.members.all %}
      <a href="{% url 'communities:leave' slug=community.slug %}" class="btn btn-lg btn-warning btn-fill">
        <span class="glyphicon glyphicon-remove-circle"></span>Leave</a>
    {% else %}
      <a href="{% url 'communities:join' slug=community.slug %}" class="btn btn-lg btn-primary btn-fill">
        <span class="glyphicon glyphicon-ok-circle"></span>Join</a>
    {% endif %}
  </div>

{% endblock %}

{% block community_content %}

  <div class="col-md-8">
    {% if community.posts.count == 0 %}
      <h2>No posts in this community yet!</h2>
    {% else %}
      {% for post in community.posts.all %}
        {% include 'posts/_post.html' %}
      {% endfor %}
    {% endif %}
  </div>

{% endblock %}