{% extends 'communities/community_base.html' %}

{% block title_block %}
  <title>Communities</title>
{% endblock %}

{% block precomunity %}

  <div class="col-md-4">
    <div class="content">
      {% if user.is_authenticated %}
        <h2>Welcome Back!
          <a href="{% url 'posts:for_user' username=user.username %}">
            @{{ user.username }}
          </a>
        </h2>
      {% endif %}

      <h2>Communities</h2>
      <p>Welcome to communities page!</p>
    </div>

    {% if user.is_authenticated %}
      <a href="{% url 'communities:create_community' %}" class="btn btn-md btn-fill btn-warning">
        <span class="glyphicon glyphicon-plus-sign">Create New Community!</span>
      </a>
    {% endif %}

  </div>

{% endblock %}

{% block community_content %}

  <div class="col-md-8">
    <div class="list-communities">
      {% for community in object_list %}
        <a href="{% url 'communities:single_community' slug=community.slug %}">
          <h3 class="title list-community-item-heading">{{ community.name }}</h3>
          <div class="list-community-item-text container-fluid">
            {{ community.description_html | safe }}
            <div class="row">
              <div class="col-md-4">
                <span class="badge">
                  {{ community.members.count }}
                </span>
                member{{ community.members.count | pluralize }}
              </div>
              <div class="col-md-4">
                <span class="badge">
                  {{ community.posts.count }}
                </span>
                post{{ community.posts.count | pluralize }}
              </div>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

{% endblock %}