{% extends 'communities/community_base.html' %}

{% block title_block %}
  <title>{{ community.name }}</title>
{% endblock %}

<div class="justify-content-md-center">

{% block precomunity %}

  <div class="col-12 col-md-4">
    <h1>{{ community.name }}</h1>
    <h2>Member count: {{ community.members.count }}</h2>

    <div class="content">
      {% if user in community.members.all %}
        <a href="{% url 'communities:leave' slug=community.slug %}" class="btn btn-lg btn-primary btn-fill">Leave</a>
      {% else %}
        <a href="{% url 'communities:join' slug=community.slug %}" class="btn btn-lg btn-primary btn-fill">Join</a>
      {% endif %}
    </div>
  </div>

{% endblock %}

{% block community_content %}

  <div class="col-12 col-md-8">
    <div class="container">
      <div class="row justify-content-md-center">
        {% if community.posts.count == 0 %}
          <h2>No posts in this community yet!</h2>
        {% else %}
          {% for post in community.posts.all %}
            <div class="card">
              <div class="card-body">
                {% include 'posts/_post.html' %}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}

</div>